body {
    display: flex;
    background-image: url('./img/imagemDeFundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.container{ 
    display: flex;
    justify-content: center;
    border: 1px solid cornsilk;
    background: rgb(115, 185, 10);    
    position: absolute;
    top: 30%;
    left: 30%;
    padding: 10px 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 50px 2px cornsilk; 
    width: 35%;   
    
}

.container-menu {
    display: flex;
    flex-direction: column;
    
    
} 

h1 {
    text-align: center;
}

input{
    margin: 10px;
}

#texto, #resultadoTexto {
    
    width: auto;
    height: 5vw;
}

#radio {
    display: flex;
    flex-direction: row;
} 

#bolinha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#enviar {
    height: 50px;
    margin-top: 250px;
    
       

} 