.container{ 
    display: flex;
    justify-content: center;
    border: 3px solid black;
    background: #ffc814;    
    margin: 15px auto;
    padding: 10px 50px;
    border-radius: 10px;
    box-shadow: 2px 2px  rgb(0, 0, 0);
}

.container-menu {
    display: flex;
    flex-direction: column;
    
} 

h1 {
    text-align: center;
}

input{
    margin: 10px;
}

#texto, #resultadoTexto {
    
    width: auto;
    height: 5vw;
}

#radio {
    display: flex;
    flex-direction: row;
} 

#bolinha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#enviar {
    height: 50px;
    margin-top: 250px;
    
       

} 